*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, serif;
  font-size: 16px;
}

/***************************
   HEADER STYLES
***************************/
nav.Navbar {
  background-color: #263238;
  width: 100%;
  padding: 0.9em;
  text-align: center;
  height: auto;
  font-size: 19px;
}

nav.Navbar p {
  font-size: 1em;
  font-weight: bold;
  color: #fafafa;
}

header.Header {
  font-size: 1.25em;
  padding: 0.2em 0;
  margin: 0.2em 1.3em 0.8em 1em;
  border-bottom: 2px solid black;
  text-align: center;
  font-family: Markazi Text, sans-serif;
}

header.Header .Header__Title {
  border-bottom: 4px solid black;
  width: 100%;
}
.Header__Title h3 {
  font-size: 1.3em;
  margin: 0.3em 0;
  color: #263238;
}
.Header__Title p {
  margin-top: 0.4em;
  margin-bottom: 1.48em;
  color: gray;
  font-size: 1.15em;
}

/**********************
     MAIN FORM STYLES
**********************/
main {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  padding: 0.3em 0.5em;
}

main form {
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main form input:not([type="checkbox"]):not([type="radio"]),
main form textarea,
main form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 1.15em;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #e0e0e0;
  margin-bottom: 0.95em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

main form select {
  color: gray;
  width: 95.5%;
  background: url(../images/select_doublearrow.png) no-repeat 95% center;
  background-color: #e0e0e0;
}

main form select,
main form textarea,
main form input {
  width: 100%;
  padding: 1em;
  font-size: 0.9em;
}

main form select {
  padding: 1em;
}

/**************************
The CSS Prefixes can't combine together
the selector is broken and css parser will always fails
*************************/
main form input::placeholder {
  text-align: right;
}
main form input::-moz-placeholder {
  text-align: right;
}
main form input::-webkit-input-placeholder {
  text-align: right;
}
input:-ms-input-placeholder {
  text-align: right;
}

main form input:placeholder-shown {
  color: gray;
  font-style: italic;
  font-size: 0.9em;
}

main form input:focus,
main form textarea:focus,
main form select:focus {
  background-color: #d1d1d1;
  -webkit-box-shadow: 2px 3px 11px 0px rgba(209, 209, 209, 1);
  -moz-box-shadow: 2px 3px 11px 0px rgba(209, 209, 209, 1);
  box-shadow: 2px 3px 11px 0px rgba(209, 209, 209, 1);
}

main form label {
  color: #616161;
}

main form input[type="checkbox"],
main form input[type="radio"] {
  transform: scale(1.3);
  vertical-align: middle;
}
main form legend {
  padding-bottom: 0.4em;
  font-size: 18px;
  color: #263238;
}

main form p {
  color: gray;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

main fieldset {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid black;
  margin-bottom: 1.5em;
}

main form label.checkbox,
main form label.radio {
  margin-bottom: 1em;
}

main form label[for="zipcode"] {
  display: block;
}
main form input[name="zipcode"] {
  max-width: 200px;
  width: 60%;
}

main form textarea {
  resize: none;
  padding: 0.5em;
}

main form button[type="submit"] {
  display: block;
  margin: 0;
  padding: 1em;
  width: 100%;
  color: white;
  background-color: #00bfa5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.6em;
  transition: 0.3s ease-in all;
}

main form button[type="submit"]:hover {
  background-color: #26a69a;
}

footer {
  font-size: 16px;
}
footer > span.copy {
  display: block;
  text-align: center;
  color: rgb(170, 165, 165);
  margin-bottom: 10em;
  margin-top: 3em;
}

fieldset.Form__Newsletter input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

fieldset.Form__ContactInfo legend,
fieldset.Form__Newsletter legend {
  margin: 0.5em 0 1em 0;
  font-size: 1.4em;
}
fieldset.Form__ContactInfo label {
  display: block;
  margin-bottom: 0.5em;
}
fieldset.Form__Newsletter {
  border-bottom: 0;
}
fieldset.Form__Newsletter label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

fieldset.Form__Newsletter p {
  margin: 0.9em 0;
}

fieldset.Form__Newsletter p:first-of-type {
  margin-top: 0;
}

fieldset.Form__Newsletter p.Form__Newsletter__Paragraph {
  margin-top: 1.7em;
}

@media screen and (min-width: 768px) {
  nav.Navbar {
    font-size: 25px;
  }

  header.Header {
    margin: 1.2em 0 1.9em 0.33em;
  }
  .Header__Title p {
    margin-top: 0.4em;
    margin-bottom: 1.48em;
    color: gray;
    font-size: 0.8em;
  }

  main {
    font-size: 21px;
    max-width: 800px;
  }

  main form input,
  main form select {
    max-width: 550px;
  }
  main form input[type="checkbox"],
  main form input[type="radio"] {
    transform: scale(1.5);
  }

  div.flex-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div.flex-input input {
    margin-bottom: 0;
    flex-grow: 2;
  }

  div.flex-input label {
    flex-grow: 1;
  }

  main form label[for="zipcode"] {
    display: inline;
    margin-right: 6.1em;
  }
  main form button[type="submit"] {
    font-size: 24px;
  }
  footer > span.copy {
    font-size: 1.2em;
  }
}
