body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, serif;
}

main form {
  padding: 0.3em;
}

main input,
main select {
  width: 95%;
}

main fieldset {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid black;
  margin-bottom: 1em;
}
nav.Navbar {
  background-color: #263238;
  width: 100%;
  padding: 0.35em;
  text-align: center;
  height: auto;
}

nav.Navbar p {
  font-size: 19px;
  font-weight: bold;
  color: #fafafa;
}

header.Header {
  font-size: 1.25em;
  margin: 0 0.5em 0.8em 0.5em;
  border-bottom: 2px solid black;
  text-align: center;
  font-family: Markazi Text, sans-serif;
}

header.Header .Header__Title {
  padding: 0.5em;
  border-bottom: 4px solid black;
  margin-bottom: 0.2em;
}
.Header__Title h3 {
  font-size: 1.49em;
  margin-bottom: 0;
  color: #263238;
}
.Header__Title p {
  margin-top: 0.4em;
  color: gray;
  text-transform: capitalize;
}

fieldset.Form__Newsletter input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

fieldset.Form__Newsletter label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
